In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [2]:
df = pd.read_csv('Sales_add.csv')
df

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [4]:
df.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

# Check whether there is any increase in sales after stepping into digital marketing.

As the sample size is less than 30 we can use t-test for testing of hypothesis

Null Hypothesis: H0= Average sales before and after stepping into digital marketing is same

Alternative Hypothesis: H1= Average sales after stepping into digital marketing is higher.

Level of significance is 5% (α value)

In [5]:
tscore, pval = stats.ttest_ind(df['Sales_After_digital_add(in $)'],df['Sales_before_digital_add(in $)'],equal_var=True, alternative='greater')

In [6]:
print(pval)

1.3071840034523225e-16

Since the p value is less than 0.05(α) , we reject the Null Hypothesis and accept the alternative hypothesis

## Insight

 We can say that there is an increase in sales after stepping into digital marketing.

# The company needs to check whether there is any dependency between the features “Region” and “Manager”.

Hypothesis:

H0: The features manager and region are independent
H1: The features are dependant
α: 0.05

We use Chi-squared test

In [7]:
contigency= pd.crosstab(df['Manager'], df['Region'])
contigency

Region       Region - A  Region - B  Region - C
Manager
Manager - A           4           4           1
Manager - B           3           1           3
Manager - C           3           2           1

In [8]:

c, p, dof, expected = stats.chi2_contingency(contigency)
print('pValue is :',p)

pValue is : 0.5493991051158094

p value is higher than alpha value. So null hypothesis can not be rejected

## Insight

The features "Region" and "Manager" are independent.